<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>

<body>
   <form action="AIC2022.php" style="display: flex; gap: 1rem; margin-top: 3rem; justify-content: space-between; padding-inline: 5rem;">
      <div>
         <label for="text_img">Text image</label>
      
         <div style="display: flex;">
            <input name="" id="text_img" type="text"></input>

            <div style="display: flex; flex-direction: column;">
               <div>
                  <input type="radio" name="text_img" id="">
                  <label for="">AND</label>
               </div>
               <div>
                  <input type="radio" name="text_img" id="">
                  <label for="">OR</label>
               </div>
            </div>
         </div>
      </div>
      
      <div>
         <label for="img_url">Paste image url</label>
      
         <div style="display: flex;">
            <input name="" id="img_url" type="text"></input>

            <div style="display: flex; flex-direction: column;">
               <div>
                  <input type="radio" name="img_url" id="">
                  <label for="">AND</label>
               </div>
               <div>
                  <input type="radio" name="img_url" id="">
                  <label for="">OR</label>
               </div>
            </div>
         </div>
      </div>

      <div>
         <label for="s2t">Speech to text</label>
      
         <div style="display: flex;">
            <input name="" id="s2t" type="text"></input>

            <div style="display: flex; flex-direction: column;">
               <div>
                  <input type="radio" name="s2t" id="">
                  <label for="">AND</label>
               </div>
               <div>
                  <input type="radio" name="s2t" id="">
                  <label for="">OR</label>
               </div>
            </div>
         </div>
      </div>

      <div style="display: flex; flex-direction: column;">
         <label for="counting">Counting</label>
         <input style="flex: 1;" name="" id="counting" type="text"></input>
      </div>

      <button>Submit</button>
      <button>Download</button>
   </form>
</body>
</html>